<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../../static/assets/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/css/profile_page.css" th:href="@{/css/profile_page.css}">
</head>

<body>
    <script src="../../static/js/init.js" th:src="@{/js/init.js}"></script>
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>

    <!-- Page content goes here-->
    <div class="dashboard">

        <div class="header">
            <h1 th:text="'Welcome, ' + ${user.firstName}">Welcome</h1>
        </div>

        <div class="user-image">
            <div class="image-container">
                <div>
                    <img src="../../static/assets/AdminImage.jpeg" th:src="@{/admin/profile-page/image}" alt="User Image">
                </div>
                <div class="user-rank">
                    <p>Admin</p>
                </div>
            </div>

        </div>
        <div class="user-buttons">
            <a class="button-cta" href="#" th:href="@{/admin/profile-page/edit}">Change Password</a>
            <a class="button-cta" href="#" th:href="@{/admin/profile-page/image-form}">Upload Image</a>
            <a class="button-cta" href="#" th:href="@{/items}">Items</a>
            <a class="button-cta" href="#" th:href="@{/quests}">Quests</a>
        </div>
        <div class="user-stats">
            <div class="stats-item mentors">
                <div>
                    <h2>Mentors</h2>
                </div>
                <div class="circle">
                    <p th:text="${mentors_count}">12</p>
                </div>
            </div>
            <div class="stats-item codecoolers">
                <div>
                    <h2>Students</h2>
                </div>
                <div class="circle">
                    <p th:text="${students_count}">59</p>
                </div>
            </div>
        </div>

    </div>
    <div class="management">
        <div class="management-header">
            <h2>Management</h2>
        </div>
        <div class="management-content">
            <div class="action-item" th:onclick="goToUsers()">
                <a><i class="fa fa-user fa-4x"></i><br><span>Users</span></a>
            </div>
            <div class="action-item">
                <a><i class="fa fa-users fa-4x"></i><br><span>Classes</span></a>
            </div>
            <div class="action-item">
                <a><i class="fa fa-book fa-4x"></i><br><span>Exp Levels</span></a>
            </div>
            <div class="action-item">
                <a><i class="fa fa-university fa-4x"></i><br><span>Ranks</span></a>
            </div>

        </div>
    </div>


    <!-- End of page content-->

    <script src="../../static/js/footer.js" th:src="@{/js/footer.js}"></script>
    <script src="../../static/js/redirects.js" th:src="@{/js/redirects.js}"></script>

</body>

</html>