<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../../static/assets/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/css/user_management.css" th:href="@{/css/user_management.css}">
    <title>Users Management</title>
</head>

<body>
    <script src="../../static/js/init.js" th:src="@{/js/init.js}"></script>
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>

    <div class="users-list">

        <h1 class="header"><i title="Go Back" th:onclick="goToProfile()" class="fa fa-arrow-left"></i> Users Management<span title="Create User" th:onclick="goToUsersNew()"><i class="fa fa-plus" id="user-new"></i></span></h1>

        <div class="users-table">
            <table>
                <thead>
                    <tr>
                        <th>ID <i class="fa fa-sort"></i></th>
                        <th>First Name <i class="fa fa-sort"></i></th>
                        <th>Last Name <i class="fa fa-sort"></i></th>
                        <th>Role <i class="fa fa-sort"></i></th>
                        <th>Action <i class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:remove="all">
                        <td>1</td>
                        <td>Dominik@gmail.com</td>
                        <td>Dominik Starzyk</td>
                        <td>Mentor</td>
                        <td>
                            <span class="action-btn"><a href="#">Edit</a> </span>
                            <span class="action-btn"><a href="#">Delete</a> </span>
                        </td>

                    </tr>
                    <tr th:remove="all">
                        <td>2</td>
                        <td>Michal@gmail.con</td>
                        <td>Michal Bartosik</td>
                        <td>Student</td>
                        <td>
                            <span class="action-btn"><a href="#">Edit</a> </span>
                            <span class="action-btn"><a href="#">Delete</a> </span>
                        </td>

                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${#strings.capitalize(#strings.substring(user.role.toLowerCase(), 5, user.role.length()))}"></td>
                        <td class="actions">
                            <span class="action-btn"><a href="#" th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a> </span>
                            <span class="action-btn"><a href="#" th:href="@{/users/{id}(id=${user.id})}">Delete</a> </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <p>Showing <span class="current-page">1</span> of <span class="total-pages">1</span></p>
            </div>
        </div>

    </div>

    <script src="../../static/js/footer.js" th:src="@{/js/footer.js}"></script>
    <script src="../../static/js/redirects.js" th:src="@{/js/redirects.js}"></script>

</body>

</html>