@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

@font-face {
    font-family: 'BLAME Regular';
    font-style: normal;
    font-weight: normal;
    src: url('Assets/Blame-Z15z.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),
    url("Assets/background-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Cardo';
}

#content-view {
    width: 800px;
    max-width: 100%;
    margin-top: 4.2em;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

#content div {
    margin: 6px 0;
    border-radius: 5px;
}

/* HEADER */

#header {
    display: flex;
    flex-flow: row nowrap;
    background-color: #001513;
    padding: 1.7em 0 0.5em 0;
    width: 100%;
    position: fixed;
}

#header h1 {
    font-family: 'BLAME Regular';
    color: #D3D3D3;
}

/* FOOTER */

.footer {
    background-color: #001513;
    padding: 0.4em 0;
}

.footer p {
    color: #D3D3D3;
    text-align: center;
    font-size: 1.5em;
}
