@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

@font-face {
    font-family: 'BLAME Regular';
    font-style: normal;
    font-weight: normal;
    src: url('Assets/Blame-Z15z.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),
    url("Assets/background-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Cardo';
}

/* FOOTER */

.footer {
    width: 800px;
    max-width: 100%;
}

.footer p {
    color: #D3D3D3;
    text-align: center;
    font-size: 1.5em;
}
