@font-face {
    font-family: 'BLAME Regular';
    font-style: normal;
    font-weight: normal;
    src: url('Assets/Blame-Z15z.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-image: url("Assets/background-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'BLAME Regular';
} 

 
.title {
    color: #550609;
    font-size: 2.7rem;
    font-weight: normal;
}

.title-item {
    margin: 0;
}

.title-item.quest {
    text-align: left;
}

.title-item.store {
    text-align: right;

}

label[for="username"], label[for="password"] {
    color: #01342F;
    font-size: 1.5em;
    text-align: left;
}

.input-field {
    text-align: left;
}

.btn-container {
    text-align: right;
    margin-top: 3em;

}

.left-section-container {
    width: 37vw;
    background-color: rgba(129,135,133,.5);
    height: 100vh;
    text-align: center;
    transform: skewX(8deg);

}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 8em;
    height: 100vh;
    transform: skewX(-8deg);

}

.main-section-item {
    margin-bottom: .5em;
}

.btn-main-page { 
    min-width: 80%;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #550609;
    border: 5px solid #550609;
    font-family: 'BLAME Regular';
    padding: 0;
}


.btn-login {
    position: relative;
    font-size: 2rem;
    margin-bottom: 1.3em;    
}

.btn-main-page:hover {
    color: #01342F;
    border: 5px solid #01342F;
    background-color: rgb(175, 170, 170);
}

.btn-forgotten-password {
    font-size: 1rem;

}

input {
    border: none;
    padding: .6em;
    min-width: 100%;
}

