body.welcome-page {
    display: initial;
    background-image: url("Assets/background-image-shadow.jpg");
    font-family: Cardo;
}

.title-item {
    color: #550609;
    font-size: 8vh;
    font-family: 'BLAME Regular';
    margin: 0;
    text-align: left;
}

.title {
    text-align: center;
}

.title.quest {
    text-align: left;
}

.title.store {
    text-align: right;
}


label[for="username"], label[for="password"] {
    color: #01342F;
    font-size: 3vh;
    text-align: left;
    font-weight: bold;
}


.btn-container {
    text-align: right;
    margin-top: 3em;
}

.left-section-container {
    width: 37vw;
    height: 100vh;
    text-align: center;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 5em;
    height: 100vh;
    position: fixed;
}

.left-section-item {
    margin-bottom: 2em;

}

.input-fields {
    text-align: left;
}

.btn-main-page { 
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #550609;
    border: 5px solid #550609;
    padding: 0;
    font-weight: bold;
    width: 80%;
    padding: .2em
    
}

.btn-login {
    position: relative;
    font-size: 1.7em;
    margin-bottom: 1.3em;    
}

.btn-main-page:hover {
    color: #01342F;
    border: 5px solid #01342F;
    background-color: rgb(175, 170, 170);
}

.btn-forgotten-password {
    font-size: 1em;
}

form.left-section-item {
    width: 100%;
}

input {
    border: none;
    padding: .6em;
    width: 100%;
    min-width: 20em;
    text-align: left;
}

.input-login {
    margin-bottom: 1em
}
