body.welcome-page {
  display: initial;
  background-image: url("Assets/background-image-shadow.jpg");
  font-family: "BLAME Regular";
}

.title-item {
  color: #550609;
  font-size: 8vh;
  margin: 0;
  text-align: left;
}

.title {
  text-align: center;
}

.title.quest {
  text-align: left;
}

.title.store {
  text-align: right;
}

label[for="username"],
label[for="password"] {
  color: #01342f;
  font-size: 3vh;
  text-align: left;
  font-weight: bold;
  font-family: inherit;
}

.btn-container {
  text-align: right;
  margin-top: 3em;
}

.left-section-container {
  width: 37vw;
  height: 100vh;
  text-align: center;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0em 5em;
  height: 100vh;
  position: fixed;
}

.left-section-item {
  margin-bottom: 2em;
}

.input-fields {
  text-align: left;
}

.btn-main-page {
  clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
  outline: none;
  cursor: pointer;
  background-color: #550609;
  color: white;
  border: 5px solid #550609;
  font-weight: bold;
  width: 80%;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
  font-family: inherit;
}

.btn-login {
  position: relative;
  font-size: 1.7em;
  margin-bottom: 1.3em;
}

.btn-main-page:hover {
  background-color: #7e5556;
  border: 5px solid #7e5556;
}

.btn-forgotten-password {
  font-size: 1em;
}

form.left-section-item {
  width: 100%;
}

input {
  border: none;
  padding: 0.6em;
  width: 100%;
  min-width: 20em;
  text-align: left;
}

.input-field {
  margin-bottom: 1em;
}

.left-section-item h1 {
  margin-bottom: 0.1em;
}
.input-field-container {
  margin-bottom: 1em;
}
