<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../../static/assets/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/css/form.css" th:href="@{/css/form.css}">
    <title> Edit User </title>

</head>

<body>
    <script src="../../static/js/init.js" th:src="@{/js/init.js}"></script>
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>

    <!-- Page content goes here-->

    <div class="form-container">
        <h1 class="header"><i title="Go Back" th:onclick="goToProfile()" class="fa fa-arrow-left"></i>Change Password</h1>

        <div class="form-body">
            <div class="form">
<!--                <form method="post" th:object="${user}" th:action="@{/{role}/profile-page/edit/{id}(role=${#strings.substring(user.role, 5, user.role.length())}, id=${user.id})}">-->
                <form method="post"
                      th:action="@{/{role}/profile-page/edit(role=${#strings.toLowerCase(#strings.substring(user.role, 5, user.role.length()))})}"
                      th:object="${password}">
                    <div class="form-item">
                        <label for="old-password">Old Password:</label><br>
                        <input class="input-field" th:field="*{oldPassword}" name="old-password" id="old-password" type="password">
                    </div>
                    <div class="form-item">
                        <label for="new-password">New Password:</label><br>
                        <input class="input-field" th:field="*{newPassword}" name="new-password" id="new-password" type="password">
                    </div>

                    <div class="form-item">
                        <label for="match-password">Confirm Password:</label><br>
                        <input class="input-field" th:field="*{matchingPassword}" name="match-password" id="match-password" type="password">
                    </div>

                    <button type="submit">Save</button>
                    <div th:if="${error_msg != null || password_updated != null}" class="message">
                        <p class="error" th:if="${#strings.equals(error_msg, 'Old password is not valid')}"><i class="fa fa-times"></i> Incorrect old password!</p>
                        <p class="error" th:if="${#strings.equals(error_msg, 'Passwords do not match')}"><i class="fa fa-times"></i> Passwords don't match!</p>
                        <p class="error" th:if="${#strings.equals(error_msg, 'Fields cannot be blank')}"><i class="fa fa-times"></i> Fields cannot be blank!</p>
                        <p class="success" th:if="${password_updated}"><i class="fa fa-check"></i> Password updated!</p>
                    </div>
                </form>
            </div>

        </div>


    </div>


    <!-- End of page content-->

    <script src="../../static/js/footer.js" th:src="@{/js/footer.js}"></script>
    <script src="../../static/js/redirects.js" th:src="@{/js/redirects.js}"></script>
</body>

</html>