<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../../static/assets/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/css/form.css" th:href="@{/css/form.css}">
    <title> Create User </title>

</head>

<body>
    <script src="../../static/js/init.js" th:src="@{/js/init.js}"></script>
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>

    <!-- Page content goes here-->

    <div class="form-container">
        <h1 class="header"><i title="Go Back" th:onclick="|window.location.href='/users'|" class="fa fa-arrow-left"></i> Create User</h1>

        <div class="form-body">
            <div class="form">
                <form th:action="@{/users}" method="post" th:object="${user}">
                    <div class="form-item">
                        <label for="name">First Name:</label><br>
                        <input class="input-field" id="name" th:field="*{firstName}" th:value="${user.firstName}" type="text" placeholder="Enter first name">
                    </div>
                    <div class="form-item">
                        <label for="surname">Last Name:</label><br>
                        <input class="input-field" id="surname" th:field="*{lastName}" th:value="${user.lastName}" type="text" placeholder="Enter last name">
                    </div>
                    <div class="form-item">
                        <select name="role">
                            <option disabled selected value>-- select role --</option>
                            <option th:field="*{role}" value="role_admin">Admin</option>
                            <option th:field="*{role}" value="role_mentor">Mentor</option>
                            <option th:field="*{role}" value="role_student">Student</option>
                        </select>
                    </div>
                    <button type="submit">Save User</button>
                    <div th:if="${show_warning != null}" class="warning-message">
                        <p th:if="${show_warning}"><i class="fa fa-times"></i> Fields cannot be blank!</p>
                    </div>

                </form>
            </div>

        </div>


    </div>


    <!-- End of page content-->

    <script src="../../static/js/footer.js" th:src="@{/js/footer.js}"></script>

</body>

</html>