<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../../static/css/profile_page.css" th:href="@{/css/profile_page.css}">
</head>

<body>
    <script type="text/javascript" th:src="@{/js/header.js}" src="../../static/js/header.js"></script>

    <!-- Page content goes here-->
<!--    <div th:object="${username}">-->
<!--        <h3><span th:text="${username}">optional field name</span></h3>-->
    </div>
    <div class="user-profile" th:object="${student.username}">
        <div class="user-info">
            <div class="user-info-item">
                <div class="profile-picture">
                    <img src="../../static/assets/images/profileImage.jpg" th:src="@{/assets/images/profileImage.jpg}" alt="User Image">
                </div>
                <div class="user-rank">
                    <p th:text="${student.rank}">rank</p>
                </div>
<!--                <span sec:authorize="isAuthenticated()" style="display: inline-block;">-->
<!--                    | Logged user: <span sec:authentication="name"></span> |-->
<!--                    Roles: <span sec:authentication="principal.authorities"></span> |-->
<!--                    <a th:href="@{/logout}">Sign Out</a>-->
<!--                </span>-->
            </div>
            <div class="user-info-item user-data">
                <div class="info-block">
                    <p>Module:</p>
                    <p th:text="${student.module}"  class="bold">Web</p>
                </div>
                <hr class="solid">
                <div class="info-block">
                    <p>Account:</p>
                    <p th:text="${student.currentBalance}" class="bold">400 cc</p>

                </div>
                <hr class="solid">
                <div class="info-block">
                    <p>Total earnings:</p>
                    <p th:text="${student.totalEarnings}" class="bold">1250 cc</p>
                </div>

            </div>
            <div class="user-info-item button-spacing">
                <div class="wrapper">
                    <button type="button" class="irregularShape" onclick="alert('Not implemented yet!')"><br><br>Edit data</button>
                </div>
                <div class="wrapper">
                    <button type="button" class="irregularShape" onclick="alert('Not implemented yet!')"><br><br>Change password</button>
                </div>
                <div class="wrapper">
                    <button type="button" class="irregularShape" onclick="alert('Not implemented yet!')"><br><br>Drink tea</button>
                </div>
                <div class="wrapper">
                    <button type="submit" class="irregularShape" href="/items" th:onclick="|window.location.href='/items'|" ><br><br>Go to items</button>
                </div>
                <div class="wrapper">
                    <button type="submit" class="irregularShape" href="/quests" th:onclick="|window.location.href='/quests'|"><br><br>Go to quests</button>
                </div>
            </div>
        </div>
        <div class="aux-container">
            <p class="container-title">Backpack</p>
            <div th:if="${studentItems.isEmpty()}" class="user-info-item">
                <p>Empty</p>
            </div>
            <div th:if="${not studentItems.isEmpty()}" class="user-info-item">
                <ul th:each="studentItem : ${studentItems} ">
                    <li th:text="${studentItem.item.name}"></li>
                </ul>
            </div>
        </div>
        <div class="aux-container">
            <p class="container-title">Completed assignments</p>
            <div class="user-info-item">Assignments</div>
        </div>
    </div>

    <!-- End of page content-->
    <script type="text/javascript" th:src="@{/js/footer.js}" src="../../static/js/footer.js"></script>

</body>

</html>