<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../../static/assets/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="../../static/css/registration_succesful.css" th:href="@{/css/registration_succesful.css}">
    <title> Create User </title>

</head>

<body>
<script src="../../static/js/init.js" th:src="@{/js/init.js}"></script>
<script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>

<!-- Page content goes here-->

<div class="form-container">
    <h1 class="header">Registration successful</h1>

    <form  method="get">
        <div class="go-back-btn-container">
            <a class="btn-main-page btn-go-back" href="login.html" th:href="@{/}">Go Back</a>
        </div>
    </form>

</div>


<!-- End of page content-->

<script src="../../static/js/footer.js" th:src="@{/js/footer.js}"></script>

</body>

</html>