@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");

@font-face {
    font-family: "BLAME Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/the_blame.ttf") format("truetype");
}

h1 {
    font-weight: normal;
    user-select: none;
}

h2 {
    font-size: 1.3em;
}

p {
    font-size: 1.2em;
}

.basic-section {
    background-color: #d3d3d3;
    margin: 0.7% 0.7% 0 0.7%;
    padding: 1%;
}

.quest{
    background-color: #001513;
    padding-bottom: 0.7%;
}

#type-choice{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.7em;
    background: linear-gradient(90.02deg, #001513 52.87%, #550609 59.96%, #550609 87.04%, #001513 94.59%);
}

.qheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.qtitle {
    color: #d3d3d3;
    font-family: "BLAME Regular";
    font-size: 1.4em;
    margin: 0.7em 0.5em;
    padding-top: 0.6em;
}

.quest{
    background: linear-gradient(125.39deg, #001513 26.03%, #550609 49.2%, #001513 67.85%);
    padding-bottom: 0.7%;
}

.qinfo {
    display: flex;
    flex-direction: row;
}

.qdescription {
    display: flex;
    flex-direction: row;
}

.qbasic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5em;
}

#qicon {
    flex-basis: 25%;
}

.qicon path {
    fill-opacity: 1;
}

.qsubmit {
    margin-top: 0.8em;
    background: none;
    width: 100%;
    border-color: #550609;
    color: #550609;
    font-family: "BLAME Regular";
    font-size: 1em;
    padding: 0.5em;
    padding-top: 1em;
    border-width: 0.3em;
}