.form-container, .course {
    background: linear-gradient(125.39deg, #001513 26.03%, #550609 49.2%, #001513 67.85%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: background .3s;
    margin-bottom: .5em;
}

.header h1, .course-header h1 {
    color: #d3d3d3;
    font-size: 1.8rem;
    font-family: "BLAME Regular", sans-serif;
    margin: .2em .5em;
    text-align: center;
}

.new-course,.course-body  {
    background-color: #d3d3d3;
    margin: .3em;
    padding: 1em;
    text-align: center;
}

.course-body {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
}

.new-course label {
    padding: .3em;
    font-size: 1.2em;
    font-weight: bold;
}

.new-course input {
    border: none;
    outline: none;
    font-size: 1em;
    padding: .5em;
    min-width: 50%;
    border-radius: 4px;
    margin-bottom: .8em;
}

.course-body select {
    height: 8em;
    width: 15em;
}

.course-body form {
    text-align: center;
}

.button-cta {
    display: block;
    width: 20%;
    margin: 0 auto;
    font-size: .8em;
}

.buttons {
    margin: auto 0;
}

.button-mentors {
    width: 50%;
    font-size: .7em;
    margin-top: 1em;
}

.heading {
    font-size: 1.2em;
    font-weight: bold;
}

.mentors-list ul {
    list-style: none;
}

.hidden {
    display: none;
}

.fa-arrow-left {
    margin-top: .3em;
    float: left;
}

.fa-arrow-left:hover {
    color: white;
    cursor: pointer;
}

.course-header {
    display: flex;
    justify-content: space-between;
}

.fa-trash-o:hover {
    color: white;
    cursor: pointer;
    align-items: center;
}

#delete {
    margin: 0 .5em;
}