@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");

@font-face {
    font-family: "BLAME Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/the_blame.ttf") format("truetype");
}

#content {
}

.basic-section {
    background-color: #d3d3d3;
    margin: 0.7% 0.7% 0 0.7%;
    padding: 1%;
}

#quest{
    background-color: #001513;
    padding-bottom: 0.7%;
}

#qheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.qtitle {
    color: #d3d3d3;
    font-family: "BLAME Regular";
    font-size: 1.4em;
    margin: 0.7em 0.5em;
    padding-top: 0.6em;
}

#qcontent {
}

#qinfo {
    display: flex;
    flex-direction: row;
}

#qdescription {
    display: flex;
    flex-direction: column;
}

#qbasic-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#qicon {
    width: 80%
}

#qicon path {
    fill-opacity: 1;
}

#more-inf {
    align-self: center;
    color: #70070A;
    margin: 0.5em;
}

#qdone-by {
    margin-left: 0;
    width: 100%;
}

#qform {

}

#qsubmit {

}