@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");

@font-face {
  font-family: "BLAME Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/the_blame.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url("../assets/background-image.jpg") no-repeat fixed center;
  background-size: cover;
  font-family: "Cardo", sans-serif;
}

#content-view {
  width: 800px;
  max-width: 100%;
  margin-top: 90px;
}

#content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

#content div.container {
  margin: 6px 0;
  border-radius: 5px;
}

/* HEADER */

#header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #001513;
  padding: 0.5em 0;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#header-left {
  display: flex;
  flex-flow: row nowrap;
  min-width: 0;
}

#header h1 {
  font-size: 40px;
  font-family: "BLAME Regular", sans-serif;
  color: #d3d3d3;
  align-self: center;
  padding: 0 0.7em;
  flex-shrink: 0;
  text-wrap: none;
}

.search-field {
  background-color: #d3d3d3;
  width: 700px;
  max-width: 100%;
  clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
  border-radius: 5px;
  height: 100%;
  font-size: 1.5em;
  padding: .5em;
  border: none;
}

.header-menu {
  display: flex;
  flex-flow: row nowrap;
}

.header-menu-option {
  width: 50px;
  padding: 0 5px;
  color: #d3d3d3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 3px;
  border-color: transparent;
}

.header-menu-option:hover {
  cursor: pointer;
  border-color: #d3d3d3;
}

svg path {
  fill-opacity: 0;
}

.menu-icon {
  fill: #d3d3d3;
  fill-opacity: 1;
  background-size: 60px 90px;
}


/* FOOTER */

.footer {
  background-color: #001513;
  padding: 0.4em 0;
}

.footer p {
  color: #d3d3d3;
  text-align: center;
  font-size: 1.2em;
}

.container-title {
  font-family: "BLAME Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 15px;
  color: #d3d3d3;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* BUTTON */

.button-cta {
  display: inline-block;
  width: 100%;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  outline: none;
  cursor: pointer;
  background-color: #550609;
  color: #d3d3d3;
  border: none;
  font-weight: bold;
  font-size: 1em;
  padding: .5em;
  font-family: "BLAME Regular", sans-serif;
  text-decoration: none;
  text-align: center;
}

.button-cta:hover {
  background-color: #701f1f;
  color: white;
  cursor: pointer;
}

.search-field-wrapper {
  min-width: 0;
}