<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Browse Items </title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/browse_items.css" th:href="@{/css/browse_items.css}">

</head>

<body>
    <script src="../static/js/header.js" th:src="@{/js/header.js}"></script>

    <!-- Page content goes here-->

    <header class="header">
        <ul class="link-list">
            <li class="link"><span class="basic-items">Basic Items</span></li>
            <li class="link"><span class="magic-items">Extra Items</span></li>
        </ul>

    </header>

    <div class="item" th:each="item,iter : ${items}" th:classappend="${item.type == 'BASIC'} ? 'basic' : 'magic'">
        <div class="item-header ">
            <ul class="header-list">
                <li class="item-header item-name"><span th:text="${item.name}">item name</span> </li>
                <li class="item-header item-cost"><span th:text="'COST: ' + ${item.cost} + ' CC'">item cost</span></li>
            </ul>
        </div>
        <div class="item-body">
            <div class="icon">
                <img class="shopping-cart" src="../static/assets/cart.png" th:src="@{/assets/cart.png}" alt="cart">
            </div>
            <div class="description">
                <p th:text="${item.description}">Lorem ipsum dolor</p>
                <br>
                <p class="item-type" th:text="'Type: ' + ${#strings.toUpperCase(item.type)}"></p>
                <br>
                <a class="button-cta" href="#" th:href="@{/items/{id}(id=${item.id})}"> Go To Item </a>
            </div>

        </div>
    </div>

    <!-- End of page content-->

    <script src="../static/js/footer.js" th:src="@{/js/footer.js}"></script>
    <script src="../static/js/browse_items.js" th:src="@{/js/browse_items.js}"></script>
</body>

</html>