<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/forgotten_password.css" th:href="@{/css/forgotten_password.css}">
    <title>Quest Store</title>
</head>

<body>

    <div id="forgotten-password">
        <form th:action="@{/forgotten-password}" method="get">
            <div>
                <label for="username">Enter your username</label>
            </div>
            <div>
                <input id="username" type="text" th:name="username">
            </div>
            <div th:if="${user_exists != null}">
                <div class="response" th:if="${user_exists}">
                    <p>Your password is: <span th:text="${password}"></span></p>
                </div>
                <div class="response" th:unless="${user_exists}">
                    <p>User not found</p>
                </div>

            </div>
            <div class="buttons">
                <button class="button-cta" type="submit">Submit</button>
                <button class="button-cta" type="button" th:onclick="|window.location.href='/login'|">Go Back</button>
            </div>
        </form>
    </div>

</body>

</html>