<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/welcome_page.css" th:href="@{/css/welcome_page.css}">
    <title>Quest Store</title>
</head>

<body class="page welcome-page">
    <div class="main-section-container">
        <div class="main-section">
            <div class="main-section-item title">
                <h1 class="title quest">QUEST</h1>
                <h1 class="title store">STORE</h1>
            </div>
            <div class="main-section-item">
                <div class="btn-container">
                    <div>
                        <a class="btn-main-page btn-login"
                                type="submit"
                                name="login-submit"
                                id="login-submit"
                                href="/user"
                                th:href="@{/user}">BEGIN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>