<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/user_management.css" th:href="@{/css/user_management.css}">
    <title>Users Management</title>
</head>

<body>
    <script src="../static/js/header.js"></script>

    <div class="users-list">

        <h1 class="header">Users Management<span title="create user" id="plus-icon"><a href="create-user.html"> <i class="fa fa-plus"></i></a></span>
        </h1>

        <div class="users-table">
            <table>
                <thead>
                    <tr>
                        <th>ID <i class="fa fa-sort"></i></th>
                        <th>Username <i class="fa fa-sort"></i></th>
                        <th>Full Name <i class="fa fa-sort"></i></th>
                        <th>Role <i class="fa fa-sort"></i></th>
                        <th>Action <i class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Dominik@gmail.com</td>
                        <td>Dominik Starzyk</td>
                        <td>Mentor</td>
                        <td>
                            <span class="action-btn"><a href="#">Edit</a> </span>
                            <span class="action-btn"><a href="#">Delete</a> </span>
                        </td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Michal@gmail.con</td>
                        <td>Michal Bartosik</td>
                        <td>Student</td>
                        <td>
                            <span class="action-btn"><a href="#">Edit</a> </span>
                            <span class="action-btn"><a href="#">Delete</a> </span>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span></span>
                            <span></span>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span></span>
                            <span></span>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span></span>
                            <span></span>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span></span>
                            <span></span>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span></span>
                            <span></span>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span></span>
                            <span></span>
                        </td>

                    </tr>

                </tbody>
            </table>
            <div class="pagination">
                <p>Showing <span class="current-page">1</span> of <span class="total-pages">1</span></p>
            </div>
        </div>

    </div>

    <script src="../static/js/footer.js"></script>
</body>

</html>