<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../../static/assets/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/css/forgotten_password.css" th:href="@{/css/forgotten_password.css}">
    <title>Forgotten Password</title>
</head>

<body>

    <div id="forgotten-password">
        <form th:action="@{/forgotten-password}" method="post">
            <th:block th:if="${userExists == null}">
                <div>
                    <label for="username">Enter your username</label>
                </div>
                <div>
                    <input id="username" type="text" th:name="username">
                </div>
            </th:block>
            <div th:if="${userExists != null}">
                <div class="response" th:if="${userExists}">
                    <p id="password-reset">Password Reset</p>
                    <p id="new-password">New Password: <span th:text="${newPassword}"></span></p>
                    <div class="buttons">
                        <button class="button-cta" type="button" onclick="goToLogin()" th:onclick="goToLogin()">Go Back</button>
                    </div>
                </div>
                <div class="response" th:unless="${userExists}">
                    <p id="user-not-found">Username <span th:text="'\'' + ${username} + '\''"></span> Not Found</p>
                    <div class="buttons">
                        <button class="button-cta" type="button" onclick="goToLostPassword()" th:onclick="goToLostPassword()">Retry</button>
                        <button class="button-cta" type="button" onclick="goToLogin()" th:onclick="goToLogin()">Go Back</button>
                    </div>
                </div>
            </div>
            <div class="buttons" th:if="${userExists == null}">
                <button class="button-cta" type="submit">Submit</button>
                <button class="button-cta" type="button" onclick="goToLogin()" th:onclick="goToLogin()">Go Back</button>
            </div>
        </form>
    </div>
    <script src="../../static/js/redirects.js" th:src="@{/js/redirects.js}"></script>
</body>

</html>