<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quest Store </title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/questPage.css" th:href="@{/css/questPage.css}">

</head>

<body>
    <script src="../static/js/header.js" th:src="@{/js/header.js}"></script>


    <!-- Page content goes here-->
    <div id="quest" th:object="${quest}">
        <div id="qheader">
            <h1 class="qtitle"><span th:text="${quest.name}">quest name</span></h1>
            <h1 class="qtitle">Reward: <span th:text="${quest.reward}">reward</span>CC</h1>
        </div>

        <div id="qcontent">
            <div id="qinfo">
                <div class="basic-section" id="qdescription">
                    <div id="qbasic-info">
                    <svg id="qicon" viewBox="0 0 162 145" xmlns="http://www.w3.org/2000/svg">
                        <path d="M160.179 130.082L90.0692 5.92748C88.3144 2.82748 84.9032 0.874481 81.164 0.874481C77.4412 0.874481 74.0136 2.81198 72.2588 5.91198L1.83722 130.067C0.164421 133.059 0.246421 136.623 2.06682 139.491C3.90362 142.358 7.18362 144.125 10.7424 144.125H151.258C154.816 144.125 158.08 142.374 159.917 139.491C161.754 136.608 161.836 133.043 160.179 130.082ZM10.7424 134.577L81.164 10.4225L151.274 134.577H10.7424Z" fill="black"/>
                        <path d="M71.0452 58.333V86.977C71.0452 92.2625 75.5716 96.525 81.1476 96.525C86.7072 96.525 91.25 92.2625 91.25 86.977V58.333C91.25 53.063 86.7072 48.785 81.1476 48.785C75.588 48.785 71.0452 53.0475 71.0452 58.333Z" fill="black"/>
                        <path d="M81.164 125.03C86.7434 125.03 91.2664 120.755 91.2664 115.482C91.2664 110.208 86.7434 105.934 81.164 105.934C75.5846 105.934 71.0616 110.208 71.0616 115.482C71.0616 120.755 75.5846 125.03 81.164 125.03Z" fill="black"/>
                    </svg>
                        <p id="short-description"><span th:text="${quest.shortDescription}">shortDescription</span></p>
                    </div>
                    <div id="more-inf-content">
                    <p><span th:text="${quest.details}">details</span></p>
                    </div>
                    <p id="more-inf-button">More info...</p>
                </div>
                <div class="basic-section" id="qdone-by">
                    <p>Jose Moralez </p>
                    <p>John Wick </p>
                    <p>George Patton </p>
                </div>
            </div>
            <form id="qform" action="#" th:action="@{/create}" th:object="${quest}" method="post">
                <div class="basic-section" id="qform-queries">
                    <div class="qform-querry">
                        <p><span th:text="${quest.instruction}">instruction</span></p>
                        <textarea id="student-answer" class="input-field" rows="5" cols="50" ></textarea>
<!--                    <span th:if="${#fields.hasErrors('assignment')}" th:errors="*{assignment}"></span>-->
                    </div>
                </div>
                <div class="basic-section button-area">
                    <button class="qsubmit" type="submit" onclick="alert('Not implemented yet!')">Start quest</button>
                </div>
            </form>
            <div class="basic-section button-area">
                <form action="quest/quests">
                    <button class="qsubmit" type="submit">Go back</button>
                </form>
            </div>
        </div>
    </div>


    <!-- End of page content-->

    <script src="../static/js/footer.js" th:src="@{/js/footer.js}"></script>
    <script src="../static/js/animate-quest-info.js" th:src="@{/js/animate-quest-info.js}"></script>

</body>

</html>